{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages/login.css' ) }}" />
{% endblock styles %} 

{% block content%}
<div class="content">
    <form class="form-container" method="POST">
        <img class="logo" src="{{url_for('static', filename='images/taskpesk.svg')}}"></img>

        {% for cat, msg in get_flashed_messages(True) %}
            <div class="space flash {{cat}}">{{msg}}</div>
        {% endfor %}

        <div class="login">
            <img class="login_icon" src="{{url_for('static', filename='images/user.png')}}"></img>
            <label for="login" class="text">Логин</label>
        </div>
        <div class="input_login">
            <input name="login" placeholder="Инициалы на латинице как в почте" class="input_log"></input>
        </div>
        <div class="password">
            <img class="password_icon" src="{{url_for('static', filename='images/password.png')}}"></img>
            <label for="password" class="text">Пароль</label>
        </div>
        <div class="input_password">
            <input type="password" placeholder="Пароль от почты @pesk.spb.ru" name="password" class="input_pas"></input>
        </div>
        <button type="submit" class="enter">Регистрация</button>
        <a class="link reg-btn" href="{{ url_for('auth.login') }}">Авторизация</a
    </form>
</div>
{% endblock content%}
