<div class="reports-btns">
  <a class="reports-btns__btn" href="{{url_for('main.detailed_project_report')}}"><span>Отчет по проектам</span></a>
  <a class="reports-btns__btn" href="{{ url_for('main.emp_report') }}"><span>Отчет по сотруднику</span></a>
  <a class="reports-btns__btn" href="{{ url_for('report.weekly') }}"><span>Еженедельный отчет по проекту</span></a>
  {% if session.get("emp_is_gip", False) -%}
    <a class="reports-btns__btn" href="/gip/"><span>Мой проект</span></a>
  {% endif %}
  {% if session.get("is_zda", False) -%}
    <a class="reports-btns__btn" href="{{ url_for('main.inspect') }}"><span>Inspect</span></a>
  {% endif %}
</div>
