*{
    margin: 0;
}
@media only screen and (max-width:2000px) {
    .margin-left{
        margin-left: 5%;
    }
    .space{
        margin-left: 5%;
        margin-right: 20%;
    }
    .line{
        display: flex;
        justify-content: space-between;
    }
    .item{
        display: block;
    }
}

@media only screen and (max-width:1080px) {
    .margin-left{
        margin-left: 5%;
    }
    .space{
        margin-left: 5%;
        margin-right: 20%;
    }
    .line{
        display: block;
    }
    .item{
        display: block;
    }
}

header{
    background-color: #99e8af;
}

.container{
    border: 4px double black;
    padding: 10px;
    background-color: aliceblue;
}

.time{
    padding-left: 2%;
    display: flex;
}

.time-m{
    padding-left: 2%;
}

.info{
    display: flex;
    padding-bottom: 1%;
    border-bottom: 2px solid black;
}

.general-hours{
    padding-left: 1%;
    font-weight: bold;
}

.cat-cost-item{
    padding-bottom: 1%;
}

.cost-name{
    font-weight: bold;
}

.login-form{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}



.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FFA866;
}

footer {
    display: flex;
    padding: 5px;
    color: #0f0e0e;
}