{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='main_style.css' ) }}">
{% endblock stylesheet %}

{% block content %}
<div class="main-container">
    <div class="container">
        <div class="content__inner">
            <div class="space">
                {% for cat, msg in get_flashed_messages(True) %}
                    <div class="space flash {{cat}}">{{msg}}</div>
                {% endfor %}
                {% for field, errors in form.errors.items() %}
                    <div class="alert alert-error">
                        Поле: "{{ form[field].label }}" {{ ', '.join(errors) }}
                    </div>
                {% endfor %}
            </div>
            <form method="POST" action="{{ url_for('main.add_project') }}">
                {{ form.csrf_token }}
                <div class="name_code">
                    <div class="code">
                        <p class="list_text">{{ form.code.label }}</p>
                        <p>{{ form.code(placeholder="Например, 23П99") }}</p>
                    </div>
                    <div class="name">
                        <p class="list_text">{{ form.name.label }}</p>
                        <p>{{ form.name(placeholder="Например, Ультрамар СПМ-02", size="38") }}</p>
                    </div>
                </div>
                <p class="list_text" style="width: 650px;">{{ form.cat_costs.label }}</p>
                <p>{{ form.cat_costs }}</p>
                <p class="list_text">{{ form.gip.label }}</p>
                <p>{{ form.gip }}</p>
                <p>{{ form.submit }}</p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}