{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="container">
    <h1>Подробный отчет по проекту</h1>
    <div class="content__inner">
      <div class="space">
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="space flash {{cat}}">{{msg}}</div>
        {% endfor %} {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">{{ ', '.join(errors) }}</div>
        {% endfor %}
      </div>
      <form method="POST" action="{{ url_for('main.detailed_project_report') }}">
        {{ form.csrf_token }}
        <p>{{form.project_name()}}</p>
        <p>{{form.submit()}}</p>
      </form>
    </div>
    {% if project_report %}
    <hr />
    <div style="border: solid #32a1ce; width: 1000px; height: auto">
      <h2 style="padding-left: 2%">Отчет по проекту: {{ project_report["p_name"] }}</h2>
      <p style="padding-left: 5%">Планируемые трудозатраты: {{ project_report["plan_time"] // 60 // 8 }} чел/д</p>
      <p style="padding-left: 5%">
        Фактические трудозатраты:
        <b>
          {{ project_report["total_perf_time"] // 60 // 8 }} чел/д {{ project_report["total_perf_time"] % 480 // 60 }} чел/ч {{
          project_report["total_perf_time"] % 60 }} чел/мин
        </b>
      </p>
      <p style="padding-left: 5%">
        Разница: {% if project_report["abs_diff"] > 0 %}
        <span style="color: green">{{ project_report["abs_diff"] // 60 // 8 }} чел/д</span>
        {% else %}
        <span style="color: red">{{ project_report["abs_diff"] }} чел/д</span>
        {% endif %} {% if project_report["rel_diff"] > 0 %}
        <span style="color: green">{{ project_report["rel_diff"] }} %</span>
        {% else %}
        <span style="color: red">{{ project_report["rel_diff"] }} %</span>
        {% endif %}
      </p>

      <ol>
        {% for cat_cost_name in project_report["cat_cost_list"] %}
        <li>
          {{ cat_cost_name }} <br />
          П:
          <b> {{ project_report["cat_cost_list"][cat_cost_name]["cat_cost_plan"] // 60 // 8 }} чел/д </b>
          <br />
          Ф:
          <b>
            {{ project_report["cat_cost_list"][cat_cost_name]["total_perf_time"] // 60 // 8 }} чел/д {{
            project_report["cat_cost_list"][cat_cost_name]["total_perf_time"] % 480 // 60 }} чел/ч {{
            project_report["cat_cost_list"][cat_cost_name]["total_perf_time"] % 60 }} чел/мин
          </b>
          <br />
          Р: {% if project_report["cat_cost_list"][cat_cost_name]["abs_diff"] > 0 %}
          <b><span style="color: green">{{ project_report["cat_cost_list"][cat_cost_name]["abs_diff"] // 60 // 8 }} чел/д</span></b>
          {% else %}
          <b><span style="color: red">{{ project_report["cat_cost_list"][cat_cost_name]["abs_diff"] }} чел/д</span></b>
          {% endif %} {% if project_report["cat_cost_list"][cat_cost_name]["rel_diff"] > 0 %}
          <b><span style="color: green">{{ project_report["cat_cost_list"][cat_cost_name]["rel_diff"] }} %</span></b>
          {% else %}
          <b><span style="color: red">{{ project_report["cat_cost_list"][cat_cost_name]["rel_diff"] }} %</span></b>
          {% endif %}
        </li>
        <hr />
        <ol>
          {% for emp_login in project_report["cat_cost_list"][cat_cost_name]["emp_list"] %}
          <li>
            {{ emp_login.upper() }}: {{ sum(project_report["cat_cost_list"][cat_cost_name]["emp_list"][emp_login]["total_perf_time"]) // 60
            // 8 }} чел/д {{ sum(project_report["cat_cost_list"][cat_cost_name]["emp_list"][emp_login]["total_perf_time"]) % 480 // 60 }}
            чел/ч {{ sum(project_report["cat_cost_list"][cat_cost_name]["emp_list"][emp_login]["total_perf_time"]) % 60 }} чел/мин
          </li>
          {% endfor %}
        </ol>
        <br />
        {% endfor %}
      </ol>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
