{% extends "base.html" %} {% block content %}

<section class="page-section detailed-project">
  <div class="container">
    <h1 class="title">Подробный отчет по проекту</h1>
    <div class="detailed-project__inner">
      <div class="space">
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="space flash {{cat}}">{{msg}}</div>
        {% endfor %} {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">{{ ', '.join(errors) }}</div>
        {% endfor %}
      </div>
      <form method="POST" action="{{ url_for('main.detailed_project_report') }}">
        {{ form.csrf_token }} {{form.project_name(class='select')}}
        <p>{{form.submit(class='link')}}</p>
      </form>
    </div>
    {% if project_report %}
    <hr />

    <div class="project">
      <h2 class="project__title">{{ project_report["p_name"] }}</h2>
      <p>Планируемые трудозатраты: {{ project_report["plan_time"] // 60 // 8 }} чел/д</p>
      <p>
        Фактические трудозатраты:
        <b>
          {{ project_report["total_perf_time"] // 60 // 8 }} чел/д {{ project_report["total_perf_time"] % 480 // 60 }} чел/ч {{
          project_report["total_perf_time"] % 60 }} чел/мин
        </b>
      </p>
      <p>
        Разница: {% if project_report["abs_diff"] > 0 %}
        <span class="green">{{ project_report["abs_diff"] // 60 // 8 }} чел/д</span>
        {% else %}
        <span class="red">{{ project_report["abs_diff"] }} чел/д</span>
        {% endif %} {% if project_report["rel_diff"] > 0 %}
        <span class="green">{{ project_report["rel_diff"] }} %</span>
        {% else %}
        <span class="red">{{ project_report["rel_diff"] }} %</span>
        {% endif %}
      </p>
    </div>
    <div class="stage">
      {% for cat_cost_name in project_report["cat_cost_list"] %}
      <p></p>
      <h2 class="stage__title">{{ cat_cost_name }}</h2>
      <p>П: {{ project_report["cat_cost_list"][cat_cost_name]["cat_cost_plan"] // 60 // 8 }} чел/д</p>

      <p>
        Ф: {{ project_report["cat_cost_list"][cat_cost_name]["total_perf_time"] // 60 // 8 }} чел/д {{
        project_report["cat_cost_list"][cat_cost_name]["total_perf_time"] % 480 // 60 }} чел/ч {{
        project_report["cat_cost_list"][cat_cost_name]["total_perf_time"] % 60 }} чел/мин
      </p>

      <p>
        Р: {% if project_report["cat_cost_list"][cat_cost_name]["abs_diff"] > 0 %}
        <b><span class="green">{{ project_report["cat_cost_list"][cat_cost_name]["abs_diff"] // 60 // 8 }} чел/д</span></b>
        {% else %}
        <b><span class="red">{{ project_report["cat_cost_list"][cat_cost_name]["abs_diff"] }} чел/д</span></b>
        {% endif %} {% if project_report["cat_cost_list"][cat_cost_name]["rel_diff"] > 0 %}
        <b><span class="green">{{ project_report["cat_cost_list"][cat_cost_name]["rel_diff"] }} %</span></b>
        {% else %}
        <b><span class="red">{{ project_report["cat_cost_list"][cat_cost_name]["rel_diff"] }} %</span></b>
        {% endif %}
      </p>

      <hr />

      <div class="employee">
        <div class="employee__line">
          <div class="employee__block employee__title">Сотрудник</div>
          <div class="employee__block employee__title">Время работы</div>
        </div>
        {% for emp_login in project_report["cat_cost_list"][cat_cost_name]["emp_list"] %}

        <div class="employee__line">
          <div class="employee__block">{{ emp_login.upper() }}:</div>
          <div class="employee__block">
            {{ sum(project_report["cat_cost_list"][cat_cost_name]["emp_list"][emp_login]["total_perf_time"]) // 60 // 8 }} чел/д {{
            sum(project_report["cat_cost_list"][cat_cost_name]["emp_list"][emp_login]["total_perf_time"]) % 480 // 60 }} чел/ч {{
            sum(project_report["cat_cost_list"][cat_cost_name]["emp_list"][emp_login]["total_perf_time"]) % 60 }} чел/мин
          </div>
        </div>

        {% endfor %}
      </div>

      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock content %}
