{% extends "base.html" %}

{% block content %}

    <h1 style="padding-left: 20%;">Отчет по сотруднику {{ get_login_by_id(employee_id)|upper }}</h1>
    <div style="padding-left: 15%;
                padding-right: 15%;
                border: thick double #32a1ce;">

    {% set projects_id = get_all_employee_projects_id(employee_id) %}
    {% set sum_proj_time = 0 %}
    {% set sum_cat_cost_time = 0 %}
    {% set sum_general_time = 0 %}
    {% set ip = 0 %}
    {% set ic = 0 %}
    {% set it = 0 %}
    {% for p_id in projects_id %}
        <p>{{ ip+1 }}. {{ get_project_name_by_id(p_id) }}</p>
        {% set ip = ip + 1 %}
        {% set costs_id = get_all_employee_cat_costs_id(employee_id, p_id) %}
        {% for c_id in costs_id %}
            <p style="padding-left: 17%;">{{ ic+1 }}. {{ get_cat_cost_name_by_id(c_id) }}</p>
            {% set times = get_records_by_emp_proj_cat(employee_id, p_id, c_id) %}

            {% for time in times %}
                <p style="padding-left: 18%;">{{ it+1 }}. {{ time[0] }}: {{ time[1] }} ч. {{ time[2] }} мин.</p>
                {% set it = it + 1 %}
                {% set sum_proj_time = sum_proj_time + time[1]*60 + time[2] %}
                <!-- sum_cat_cost_time += time[1]*60 + time[2]
                sum_general_time += time[1]*60 + time[2] -->
            {% endfor %}
            {% set it = 0 %}
            {% set ic = ic + 1 %}
        {% endfor %}
    {% endfor %}
    </div>
    

{% endblock content %}