{% extends "base.html" %}

{% block content %}

    <h1 style="padding-left: 10%;">Отчет по сотруднику</h1>
    <div class="main-container">
        <div class="container">
            <div class="content__inner">
                <div class="space">
                    {% for cat, msg in get_flashed_messages(True) %}
                        <div class="space flash {{cat}}">{{msg}}</div>
                    {% endfor %}
                    {% for field, errors in form.errors.items() %}
                        <div class="alert alert-error">
                            {{ ', '.join(errors) }}
                        </div>
                    {% endfor %}
                </div>
                <form method="POST" action="{{ url_for('main.emp_report') }}">
                    {{ form.csrf_token }}
                    <p>{{ form.employee.label }}</p> <p>{{ form.employee }}</p>
                    <div style="display: block;"> {{ form.is_all_period.label }} {{ form.is_all_period }} </div>
                    <p>{{ form.lower_date.label }}</p> <p>{{ form.lower_date }}</p>
                    <p>{{ form.upper_date.label }}</p> <p>{{ form.upper_date }}</p>
                    <p>{{ form.submit }}</p>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}