{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" href="/static/style.css">
    <div class="container-report">
        {% if data != "None" %}
            <h1>{{data["project_name"]}}</h1>

            <div class="info">
                <div class="text-info">Общие трудозатраты:</div>
                <div class="general-hours">{{data["general_time"]}}ч</div>
            </div>
          
            <div class="list-of-cat-cost">
                {% for cat in data["list_of_cat_cos"] %}
                    <div class="cat-cost-item">
                        <div class="cost-name">{{cat["cat_name"]}}</div>
                        <div class="time">
                            <div class="time-h">{{cat["time"]//60}}ч</div>
                            <div class="time-m">{{cat["time"]%60}}м</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Нет данных</p>
        {% endif %}
    </div>
    <form method="GET" action="{{url_for('main.project_report')}}">
        {{returnBtn.csrf_token}}
        <div class="space">
            <p>{{returnBtn.submit(class=' btn btn-success Btn')}}</p>
        </div>
    </form>
{% endblock content %}

