{% extends "base.html" %}

{% block content %}


    <div class="container">

        <div class="content__inner">
            <div class="space">
                {% for cat, msg in get_flashed_messages(True) %}
                    <div class="space flash {{cat}}">{{msg}}</div>
                {% endfor %}
            </div>
            <form method="POST" action="{{url_for('main.record', login=login)}}">
                <div class="project">
                    <p>{{form.project_name.label(class="list_text")}}</p>
                    <p>{{form.project_name(class="project_list")}} </p>
                </div>
                <div class="cost_list">
                    <p>{{form.category_of_costs.label(class="list_text")}} </p>
                    <p>{{form.category_of_costs(class="cost_list_list")}} </p>
                </div>
                <div class="task_list">
                    <p>{{form.task.label(class="list_text")}} </p>
                    <p>{{form.task(class="task_list_list")}} </p>
                </div>
                <div class="input">
                    <div class="time_hour">
                        <p>{{form.hours.label(class="list_text")}} </p>
                        <p>{{form.hours(class="input_hour")}} </p>
                    </div>
                    <div class="time_min">
                        <p>{{form.minuts.label(class="list_text")}} </p>
                        <p>{{form.minuts(class="input_min")}} </p>
                    </div>
                </div>
                <div class="buttons">
                    <p>{{form.submit(class="done")}}</p>
                    <a class="otchet" href="{{url_for('main.project_report')}}">Отчет по проектам</a>
                    <a class="back" href="{{url_for('auth.logout')}}">Выйти</a>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}