{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="container">
    <div class="main__inner">
      <div class="data">
        <div class="space">
          {% for cat, msg in get_flashed_messages(True) %}
          <div class="space flash {{cat}}">{{msg}}</div>
          {% endfor %}
        </div>
        {% for field, errors in form.errors.items() %}
        <div style="padding-left: 10px" class="alert alert-error">{{ ', '.join(errors) }}</div>
        {% endfor %}
        <form method="POST" action="{{url_for('main.record', login=login)}}">
          {{ form.csrf_token }}
          <div class="project">{{form.project_name.label(class="list_text")}} {{form.project_name(class="project_list")}}</div>
          <a href="{{url_for('main.add_project')}}" class="gips-btn">Нет проекта в списке?</a>
          <div class="cost_list">
            {{form.category_of_costs.label(class="list_text")}} {{form.category_of_costs(class="cost_list_list")}}
          </div>
          <div class="task_list" , style="display: none">{{form.task.label(class="list_text")}} {{form.task(class="task_list_list")}}</div>
          <div class="input">
            <div class="time_hour">{{form.hours.label(class="list_text")}} {{form.hours(class="input_hour")}}</div>
            <div class="time_min">{{form.minuts.label(class="list_text")}} {{form.minuts(class="input_min")}}</div>
          </div>
          <div class="buttons">
            {{form.submit(class="btn done")}}
            <a class="btn" href="{{url_for('main.detailed_project_report')}}">Отчет по проектам</a>
            <a class="btn" href="{{url_for('auth.logout')}}">Выйти</a>
          </div>
        </form>
        {% if session.get("emp_is_gip", False) -%}
        <a href="{{ url_for('gip.gips_project') }}" class="gips-btn">Мой проект</a>
        {% endif %} {% if session.get("emp_is_admin", False) -%}
        <a href="{{ url_for('admin.hello_admin') }}" class="gips-btn"> Привет админ! </a>
        {% endif %}

        <a href="{{ url_for('main.emp_report') }}">Отчет по сотруднику</a>
        <p>Ваша роль: {{session.get("emp_role", "Нет роли")}}</p>
      </div>
      <div class="last-5-records">
        <h2 class="title">Недавние записи</h2>
        <ul>
          {% for r in last_5_records %}
          <li class="last-5-records_li">
            {{r[1]}}<br />
            <b>{{r[2]}}</b> инвестировал {{r[-2]}} ч. {{r[-1]}} мин. на "{{r[4]}}" в проекте <br />
            {{r[3]}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
