{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>Проект:  <strong>{{session.get("gip_project", "Проект не выбран")}}</strong></p>
    <form action="{{ url_for('gip.gips_project') }}" method="POST">
        <label for="gips_project_list" style="display: block;"><b>
            Список проектов, где пользователь числится ГИПом:
        </b></label>
        <select name="gips_project_list"  multiple>
            {% for pr in project_list -%}
                <option value="{{ pr[0] }}">{{ pr[1] }}</option>
            {% endfor %}
        </select> 
        <input style="display: block;" type="submit" value="Выбрать">
    </form>

    <a href="{{ url_for('gip.edit_cat_cost') }}" class="">Радактировать статьи расходов</a>
    <!-- <a href="{{ url_for('gip.edit_task') }}" class="">Радактировать задачи</a> -->
    <a class="about-button" href="{{ url_for('main.index') }}">Вернуться на главную</a>
</div>
{% endblock content %}
