{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='gip_style.css' ) }}">
{% endblock stylesheet %}

{% block content %}
<div class="container">
    <div class="content__inner">
        <p class="gip__h">Проект:  <strong>{{session.get("gip_project", "Проект не выбран")}}</strong></p>
        <form action="{{ url_for('gip.gips_project') }}" method="POST">
            <label for="gips_project_list"  class="gip__p" style="display: block;"><p>
                Список проектов, где пользователь числится ГИПом:
            </p></label>
            <select class="gips_project_list" name="gips_project_list"  multiple>
                <option selected value="default">Не выбрано</option>
                {% for pr in project_list -%}
                    <option value="{{ pr[0] }}">{{ pr[1] }}</option>
                {% endfor %}
            </select> 
            <div class="gip-btns">
                <input class="choose" style="display: block;" type="submit" value="Выбрать">
                <a href="{{ url_for('gip.edit_cat_cost') }}" class="update">Радактировать статьи расходов</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
