{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>
        Форма редактирования задачи в выбранной статье расходов в проекте 
        {{project_name}}
    </p>

    {% if prev_tasks is not none -%}
        <p> Ранее добавленные задачи (задача, чел/день)</p>
        {% for task in prev_tasks -%}
            <pre> {{task.task_name}} {{task.man_days}} </pre> <br>
        {% endfor %}
    {% endif %}

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="space flash {{cat}}">{{msg}}</div>
    {% endfor %}

    <form action="{{ url_for('gip.edit_task') }}" method="POST">
        <label for="cost_list"><b>Статьи расходов</b></label>
        <select name="cost_list">
            <option>Выберите статью расходов</option>
            {% for cat in cat_list -%}
                <option value="{{ cat[0] }}">{{ cat[1] }}</option>
            {% endfor %}
        </select> 
        <label for="cost_name"><b>Задача</b></label>
        <input type="text" placeholder="Имя задачи" name="task_name" required>

        <label for="man_days"><b>Человеко-часы</b></label>
        <input type="text" placeholder="Трудозатраты (целое или десятичное число)" name="man_days" required>
        <input type="submit" value="Сохранить">
    </form>
</div>
{% endblock content %}
