{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="content__inner">
        <p class="content__p_gips">
            Форма редактирования статей расходов в проекте <br>
            <strong>{{ project_name }}</strong>
        </p>
        <hr>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="space flash {{cat}}">{{msg}}</div>
        {% endfor %}

        <form action="{{ url_for('gip.edit_cat_cost') }}" method="POST">
            <p class="content__p_gips">Введите новое имя для статьи расходов и плановый показатель:</p>

            <label class="content__p_gips" for="cost_name"><b>Новая статья расходов</b></label>
            <input class="input__gips-redactor" type="text" placeholder="Имя статьи расходов" name="cost_name" style="display: block;">
            <label class="content__p_gips" for="man_days"><b>Планируемое количество трудозатрат (чел/день)</b></label>
            <input class="input__gips-redactor" type="number" min="1" placeholder="чел/день" name="man_days" value="default" style="display: block;">
            <hr>
            <p class="content__p_gips">Изменение плановых показателей статьи расходов:<br>
                Выберете статью из списка и обновите плановые показатели</p>

            <label class="content__p_gips" for="old_cost_list"><b>Cтатьи расходов</b></label>
            <select style="display: block;" name="old_cost_list"  multiple>
                <option selected value="default">Не выбрано</option>
                {% for cat in added_cost -%}
                    <option value="{{ cat[0] }}">{{ cat[1]+" "+"("+cat[2]+" чел/день"+")" }}</option>
                {% endfor %}
            </select> 

            <label class="content__p_gips" for="updated_man_days"><b>Плановый показатель (чел/день)</b></label>
            <input  class="input__gips-redactor" type="number" min="1" placeholder="чел/день" name="updated_man_days" value="default">

            <input class="input__gips-redactor" type="submit" value="Сохранить">
        </form> 
        <a class="about-button" href="{{ url_for('main.index') }}">Назад</a>

        {% if session.get("emp_role", "Нет роли") == 'gip' -%}
            <a href="{{url_for('gip.gips_project')}}" class="gips-btn">Мой проект</a>
            <!-- <a href="{{ url_for('gip.edit_task') }}" class="">Радактировать задачи</a> -->
        {% endif %}
    </div>
</div>
{% endblock content %}