<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
  </head>
  <body style="background-color:#ceeaf2">
    <style>
    </style>
    <div class="p-2" style="background-color:rgba(0, 255, 183, 0.21)">
      <img class="margin-left"
           src="{{ url_for('static', filename='/images/eng_lab.png') }}"
           height="80"/>
      <img class="margin-left"
           src="{{ url_for('static', filename='/images/pesk.png') }}"
           height="80"/>
      <img class="margin-left"
           src="{{ url_for('static', filename='/images/razum.png') }}"
           height="80"/>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>
