<!DOCTYPE html>
<html lang="ru">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='common_style.css' ) }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/logo.svg') }}">
        {% block stylesheet %}{% endblock stylesheet %}
      </head>
  <body style="background-color:#ffffff">
    <header>
      <div class="container">
        <div class="header_content">
          <a href="/">
            <img class="logo" src="{{ url_for('static', filename='/images/taskpesk.svg') }}"height="68"/>
          </a>
          <div class="header_project">
            <a class="header_text" href="{{url_for('main.record')}}"> Проект </a>
        </div>
        <div class="header_otchet">
            <a class="header_text" href="{{url_for('main.detailed_project_report')}}"> Отчет </a>
        </div>
          <a href="https://t.me/artmus208" class="my-link">Связь с разработчиком</a>
        </div>
    </div>
    </header>
    {% block content %}
    {% endblock content %}

    <footer>

    </footer>

  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='/scripts/script.js') }}"></script>
</html>
