<!DOCTYPE html>
<html lang="ru">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='common_style.css' ) }}">
        {% block stylesheet %}{% endblock stylesheet %}
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/logo.svg') }}">
      </head>
  <body style="background-color:#ffffff">
    <header>
      <div class="container">
        <div class="header_content">
          <img class="logo" 
               src="{{ url_for('static', filename='/images/taskpesk.svg') }}"/>
          <div class="header_project">
              <a class="header_text" href="{{url_for('main.record')}}"> Проект </a>
          </div>
          <div class="header_otchet">
              <a class="header_text" href="{{url_for('main.project_report')}}"> Отчет </a>
          </div>
          <a href="https://t.me/artmus208" class="my-link">Связь с разработчиком</a>
        </div>
    </div>
    </header>
    {% block content %}
    {% endblock content %}

    <footer>

    </footer>

  </body>
</html>
