{% extends "base.html" %}

{% block content %}

<div>
    <h2 align="centr"> </h2>
    <form method="POST" action="{{url_for('records.record', uname=uname)}}">
        {{form.csrf_token}}
        <div class="row p-5 justify-content-center">
            <div class="col-2">
                <p>{{form.project_name.label(class="form-control-md")}}</p>
                <p>{{form.project_name(class="form-control-sm")}} </p>
                <p>{{form.category_of_costs.label(class="form-control-md")}} </p>
                <p>{{form.category_of_costs(class="form-control-sm")}} </p>
                <p>{{form.task.label(class="form-control-md")}} </p>
                <p>{{form.task(class="form-control-sm")}} </p>
                <p>{{form.hours.label(class="form-control-md")}} </p>
                <p>{{form.hours(class="form-control-sm")}} </p>
                <p>{{form.minuts.label(class="form-control-md")}} </p>
                <p>{{form.minuts(class="form-control-sm")}} </p>
                <p>{{form.submit(class=' btn btn-success')}}</p>
            </div>
        </div>
    </form>
</div>

{% endblock content %}