{% macro colorize_it(value, conditional_value, class_red, class_green) -%}
    {% if value == 0 %}
        <span class={{ class_green }}>{{ value -}}</span>
    {% else %} 
    
        {%- if value < conditional_value -%}
            <span class={{ class_red }}>{{ value -}}</span>
        {%- else -%}
            <span class={{ class_green }}>{{ value -}}</span>
        {%- endif -%}
    {% endif %}
{%- endmacro -%}